#new-phones .owl-carousel .item .product img{
    height: 220px;
}

#new-phones .container .item .opporeno{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#new-phones .container .item .motogg{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#new-phones .container .item .motogplus{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
