$font-baloo:"Baloo Thambi 2",cursive;
$font-raleway:"Raleway",cursive;
$font-rubik:"Rubik",cursive;
$font-varela: "Varela",sans-serif;
$font-badscript: "badscript";
$font-rancho:"rancho",cursive;
$color-primary:#003859;
$color-second:#00A5C4;
$color-yellow:#FFD289;
$color-white:#fff;
$color-black:#222;
$color-pink:#f60091;
$color-grey:#444;
$color-grey2:#959595;
$color-yellow2:#ffd800;
$color-green: #59b210;
$color-greyalt:#d1e2e9;
$color-bggradient: linear-gradient( to bottom, #dd2476, #ff512f)